/*-------------------*/
/* custom properties */
/*-------------------*/

:root {
  /* primary colors */
  --clr-prm-red: hsl(7, 99%, 70%);
  --clr-prm-yellow: hsl(51, 100%, 49%);
  --clr-prm-cyan: hsl(167, 40%, 24%);
  --clr-prm-blue: hsl(198, 62%, 26%);
  --clr-prm-cyan-mod: hsl(168, 34%, 41%);

  /* neutral colors */
  --clr-ntr-blue: hsl(212, 27%, 19%);
  --clr-ntr-vdark-blue-gray: hsl(213, 9%, 39%);
  --clr-ntr-dark-blue-gray: hsl(232, 10%, 55%);
  --clr-blue-gray: hsl(210, 4%, 67%);
  --clr-ntr-white: hsl(0, 0%, 100%);
  --clr-cyan-light: hsl(167, 44%, 70%);
  --clr-cyan-med: hsl(168, 47%, 31%);
  /*  typography */
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  --ff-barlow: "Barlow", sans-serif;
  --ff-fraunces: "Fraunces", serif;
}

/* ----- */
/* reset */
/* ----- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  /* width: 100%; */
  display: block;
}

body {
  overflow-x: hidden;
}

/* ---------- */
/* Typography */
/* ---------- */

h1,
h2,
h3,
button {
  font-family: var(--ff-fraunces);
}

h2 {
  font-size: 2rem;
  font-weight: var(--fw-900);
}

p {
  line-height: 1.5;
  font-weight: var(--fw-700);
  font-family: var(--ff-barlow);
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* ------ */
/* header */
/* ------ */

.hero {
  min-height: 100vh;
  width: 100%;
  background-image: url("./images/mobile/image-header.jpg");
  background-size: cover;
  background-position: bottom center;
}

.primary-nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  position: relative;
}
.hamburger {
  cursor: pointer;
}
.nav-link-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 5em;
  right: 1em;
  /* margin: 0 auto; */
  width: 90vw;
  max-width: 400px;
  height: 370px;
  align-items: center;
  justify-content: space-between;
  /* aspect-ratio: 1; */
  background-color: var(--clr-ntr-white);
  clip-path: polygon(0 5%, 93% 5%, 100% 0, 100% 100%, 0 100%);
  padding: 4em 3em;
  transform: scale(0);
  transform-origin: right top;
  transition: all 500ms ease-in-out;
}

.show {
  transform: scale(1);
}
.rotate {
  animation: rotateHamburger 500ms ease-in-out 1 forwards;
}

@keyframes rotateHamburger {
  to {
    transform: rotate(90deg);
  }
}

.nav-link {
  color: var(--clr-ntr-vdark-blue-gray);
  font-size: 1.2em;
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
  position: relative;
}

.nav-link:not(.contact-btn > a)::after,
.learn-more-btn::after,
.secondary-nav a::after {
  content: "";
  position: absolute;
  height: 0.25em;
  width: 110%;
  background-color: var(--clr-prm-red);
  bottom: -0.3em;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  z-index: -1;
  border-radius: 20px;
  /* opacity: 0.5; */
  transition: all 500ms ease;
}

.nav-link:not(.contact-btn > a):hover::after,
.learn-more-btn:hover::after,
.secondary-nav a:hover::after {
  transform: translate(-50%) scaleX(1);
}

.learn-more-btn:hover::after {
  bottom: 0.9em;
  height: 0.5em;
  width: 70%;
}

.standout-text > .learn-more-btn:hover::after {
  background-color: var(--clr-prm-yellow);
}
.transform-text > .learn-more-btn:hover::after {
  background-color: var(--clr-prm-red);
}

.contact-btn {
  margin-top: 1em;
}
.contact-btn > a {
  text-transform: uppercase;
  font-weight: var(--fw-700);
  font-family: var(--ff-fraunces);
  color: black;
  background-color: var(--clr-prm-yellow);
  text-align: center;
  padding: 1em 1.5em;
  border-radius: 100vh;
  transition: all 500ms ease;
}

.contact-btn > a:hover {
  /* border: 1px solid var(--clr-ntr-dark-blue-gray); */
  background-color: var(--clr-prm-red);
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 60vh;
  color: var(--clr-ntr-white);
}
.header-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--fw-900);
  letter-spacing: 5px;
  margin-bottom: 1em;
}

/* ------------ */
/* image blocks */
/* ------------ */

.transform-img {
  background-image: url("./images/mobile/image-transform.jpg");
}

.standout-img {
  background-image: url("./images/mobile/image-stand-out.jpg");
}

.square-img {
  height: 50vh;

  background-size: cover;
  background-position: center;
}

/* ----------- */
/* Text blocks */
/* ----------- */

.square-block-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 50vh;
  justify-content: space-around;
  color: var(--clr-ntr-blue);
  padding: 2em 3em;
  font-size: 1.125rem;
  margin-top: 1.5em;
}

.square-block-text > p {
  color: var(--clr-ntr-dark-blue-gray);
  margin: 2em 0;
}

.learn-more-btn {
  width: max-content;
  padding: 1em 2em;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: none;
  border: none;
  font-weight: var(--fw-900);
  position: relative;
}

.learn-more-btn::after {
  content: "";
  position: absolute;
  height: 0.5em;
  width: 70%;
  background-color: var(--clr-prm-yellow);
  bottom: 0.9em;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  border-radius: 20px;
  opacity: 0.4;
}

.standout-text > .learn-more-btn::after {
  background-color: var(--clr-prm-red);
}

.text-block-bg-img {
  min-height: 100vh;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding: 3em 1em;
  color: var(--clr-prm-cyan);
}

.text-block-bg-img > h3 {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: var(--fw-900);
}

.graphic-design {
  background-image: url("./images/mobile/image-graphic-design.jpg");
}

.photography {
  background-image: url("./images/mobile/image-photography.jpg");
}

/* ------------------- */
/* Testimonial section */
/* --------------------*/

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonials > h3 {
  margin-top: 3em;
  margin-bottom: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.225em;
  color: var(--clr-blue-gray);
}

.testimonial {
  margin: 2em;
}

.testimonial > img {
  margin: 1em auto;
  border-radius: 50%;
  width: 25%;
}

.testimonial-text {
  margin-top: 2em;
  font-weight: var(--fw-600);
  color: var(--clr-ntr-vdark-blue-gray);
}

.name {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: var(--fw-900);
  font-family: var(--ff-fraunces);
  font-size: 1.1em;
}

.job {
  font-size: 0.9em;
  color: var(--clr-blue-gray);
  padding-bottom: 2em;
}

/* ------------------- */
/* small image gallery */
/* ------------------- */

.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.small-square-img {
  width: 50%;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
}

.sqr-img-milk {
  background-image: url("./images/mobile/image-gallery-milkbottles.jpg");
}

.sqr-img-orange {
  background-image: url("./images/mobile/image-gallery-orange.jpg");
}

.sqr-img-cone {
  background-image: url("./images/mobile/image-gallery-cone.jpg");
}

.sqr-img-sugar {
  background-image: url("./images/mobile/image-gallery-sugar-cubes.jpg");
}

/* ------ */
/* footer */
/* ------ */

footer {
  color: var(--clr-prm-cyan-mod);
  background-color: var(--clr-cyan-light);
  min-height: 70vh;
  display: grid;
  grid-template-rows: 30vh 1fr;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#footer-logo {
  transform: scale(1.5);
}

#logo-path {
  fill: var(--clr-cyan-med);
}

.secondary-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15vh;
  font-size: 1.25rem;
  font-weight: var(--fw-700);
  font-family: var(--ff-barlow);
}

.secondary-nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}

.secondary-nav a {
  color: var(--clr-prm-cyan-mod);
  position: relative;
}

.secondary-nav-link-list a:hover::before {
  transform: translate(-50%) scaleX(1);
  transition: all 500ms ease;
}

.secondary-nav-link-list a::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 0.3em;
  bottom: -0.3em;
  background-color: var(--clr-prm-red);
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%) scaleX(0);
}

.socials {
  padding-inline: 20vw;
  outline: none;
  transition: outline 500ms ease;
}

.social-icon > img {
  transform: scale(1.3);
}

.secondary-nav .social-icon:hover {
  outline: 2px solid var(--clr-prm-red);
  outline-offset: 0.5em;
}

/* *************************************************** */
/*                                                     */
/* Tablet Styling                                     */
/*                                                     */
/* *************************************************** */

@media screen and (min-width: 500px) {
  .hero {
    background-image: url("./images/desktop/image-header.jpg");
  }
  .graphic-design {
    background-image: url("./images/desktop/image-graphic-design.jpg");
  }
  .photography {
    background-image: url("./images/desktop/image-photography.jpg");
  }
}
@media screen and (min-width: 830px) {
  .square-block__container {
    display: flex;
  }

  .square-img {
    /* height: 100%; */
    /* width: auto; */
    aspect-ratio: 1;
  }

  .transform__container {
    flex-direction: row-reverse;
    margin-top: 2em;
  }

  .text-block-bg-img {
    background-position: center;
  }
}

/* *************************************************** */
/*                                                     */
/* Desktop Styling                                     */
/*                                                     */
/* *************************************************** */

@media screen and (min-width: 1048px) {
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  /* ---------- */
  /* Nav menu   */
  /* ---------- */

  .logo {
    transform: scale(1.3);
  }

  .hamburger {
    display: none;
  }

  .primary-nav {
    padding: 4rem;
  }

  .nav-link-list {
    transform: scale(1);
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    max-width: initial;
    height: auto;
    aspect-ratio: auto;
    clip-path: none;
    background: none;
    padding: 0;
  }

  .nav-link {
    color: var(--clr-ntr-white);
    margin-left: 2em;
    font-size: 1.25rem;
  }

  .contact-btn {
    margin-top: 0;
  }

  .contact-btn > a {
    color: var(--clr-ntr-blue);
    background-color: var(--clr-ntr-white);
    font-size: 1rem;
  }
  /* ---------- */
  /* Hero       */
  /* ---------- */

  .header-title {
    font-size: 3rem;
    letter-spacing: 10px;
    margin-top: 10vh;
    margin-bottom: 1em;
  }
  .header-text {
    justify-content: flex-start;
  }

  /* ------------ */
  /* image blocks */
  /* ------------ */

  .square-block__container {
    display: flex;
  }
  .transform__container {
    margin-top: 0;
  }

  .transform-img {
    background-image: url("./images/desktop/image-transform.jpg");
  }

  .standout-img {
    background-image: url("./images/desktop/image-stand-out.jpg");
  }

  .square-img {
    width: 50vw;
    aspect-ratio: 1;
    height: auto;
  }

  .square-block-text {
    width: 50vw;
    height: auto;
    aspect-ratio: 1;
    text-align: left;
    justify-content: center;
    padding-inline: 7em;
  }

  .square-block-text > .square-block-text > p {
    line-height: 2;
  }

  .transform-text {
    padding-left: 10em;
  }

  .learn-more-btn {
    font-size: 1rem;
    margin: 0 -1.8em;
  }

  .text-block__container {
    display: flex;
  }

  .text-block-bg-img {
    width: 50vw;
  }

  .text-block-bg-img > p {
    margin: 0 auto;
    font-size: 1.25rem;
    max-width: 40ch;
  }

  /* ------------------- */
  /* Testimonials        */
  /* ------------------- */

  .testimonials > h3 {
    padding: 2em 0;
  }

  .testimonial__container {
    display: flex;
    flex-direction: row;
    margin-inline: 5em;
  }

  .testimonial {
    max-width: 40ch;
    padding-bottom: 2em;
  }

  /* ------------------- */
  /* small image gallery */
  /* ------------------- */

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .small-square-img {
    width: 25%;
    aspect-ratio: 1 / 1.4;
    background-size: cover;
    background-position: center;
  }

  .sqr-img-milk {
    background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
  }

  .sqr-img-orange {
    background-image: url("./images/desktop/image-gallery-orange.jpg");
  }

  .sqr-img-cone {
    background-image: url("./images/desktop/image-gallery-cone.jpg");
  }

  .sqr-img-sugar {
    background-image: url("./images/desktop/image-gallery-sugarcubes.jpg");
  }

  /* ---------- */
  /* Footer     */
  /* ---------- */

  .secondary-nav {
    max-width: 70vw;
    margin: 0 auto;
  }
  .socials {
    padding: 0;
    max-width: 248px;
    margin: 0 auto;
  }

  .secondary-nav-link-list * + * {
    padding-left: 3em;
  }
}
